@import 'fonts.scss';
@import 'slides.scss';
@import 'notes.scss';
@import 'print.scss';

@media screen {
  html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    outline: none;
    &:focus {
      outline: none;
    }
    -webkit-tap-highlight-color: transparent;
  }
}