
@font-face {
    font-family:"Noto Sans CJK SC Black";
    src:url("NotoSansCJKsc-Black.woff2") format("woff2"),url("NotoSansCJKsc-Black.woff") format("woff"),url("NotoSansCJKsc-Black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        